[onclick] {
    cursor: pointer;
}

.order_title {
    margin-bottom: 10px;
}

.readonly_form {
    border: 0;
    background-color: white !important;
    font-size: 1.25rem;
}

.readonly_form:hover {
    cursor: default;
}

.no_show_arrow {
    -moz-appearance: textfield;
}

.no_show_arrow::-webkit-outer-spin-button,
.no_show_arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.readonly_form:active {
    display: none;
}

.price_total {
    border: 0;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.col_around_total {
    text-align: right;
}


.col_around {
    margin-top: 4px;
}

#col_for_total, .col_kr {
    padding: 0;
}

.product_value {
    border: 0;
    color: white;
    width: 1px;
    height: 1px;
}

.navbar {
    background-color: #257a9f;
}

.nav-link {
    font-size: 1.25rem;
}


.product:hover, .navbar-brand:hover, .right_nav:hover {
    color: darkblue !important;
}

.right_nav {
    margin-right: 10px;
}

#navbarDropdown {
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
}

.product {
    margin-left: 10px;
}

#logo_search {
    background-color: #cbd4c3;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 62px;
    margin-bottom: 10px;
}

.order_count {
    margin-left: 5px;
}
.counter {
    height: 30px;
    width: 45px;
    border-radius: 0px !important;
    text-align: center;
}

.up_count {
    height: 30px;
    margin-top: 1px;
    margin-bottom: 7px;
    margin-left: -4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.down_count {
    height: 30px;
    margin-top: 1px;
    margin-bottom: 7px;
    margin-right: -4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.order_btn {
    width: 150px
}

.end_of_table {
    max-width: 100px;
}

.gen_pic {
    max-width: 70px;
}


.trash-can {
   text-align: center;
}

.end_of_table_box {
    width: 100px !important;
}

#logo {
    max-height: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    border: 0;
    /*padding-bottom: 5px;*/
}

#logo_link {
    max-width: 10%;
}

.order_row {
    height: 50px;
}

.order_card {
    height: 50px;
    background-color: lightgray;
}

footer {
    background-color: #257a9f;
    display: flex;
    flex-direction: row;
    padding: 10%;
}

.text-footer {
    color: white;
}

#searchbar {
    width: 50%;
}

#searchform {
    width: 80%;
    align-items: center;
    justify-content: center;
}

.productInfo {
    display: inline-block;
    padding: 3px;
}

.info_btn {
    margin-bottom: 15px;
}

.btn-order {
    background-color: #6FCF97;
    color: white;
}

.btn-info {
    background-color: #257a9f;
    color: white;
}

#button-option {
    width: 20%;
    display: grid;
}

.main-info {
    /*Er öll upplýsingasíðan á upplýsingasíðu um vöru*/
    display: inline;
    margin: 0px;
}

.card > .card-text{
    /*Card-text er textin sjálfur um upplýsingar á vöru á upplýsingasíðu um vöru*/
    margin: 1rem;
    padding: 0px;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
}

.card  {
    /*Card er upplýsingar um vöru á upplýsingasíðu um vöru*/
    margin: 1rem;
    padding: 0px;
}

.sortedBy {
    padding: 8px;
    margin-left: 20%;
}

#dropdownMenuButton {
    /* Dropdown for sorted by on productside*/
    background-color: #257a9f;
    color: white;
}

span {
    display: inline-grid;
}

.nav-link {
    color: black;
}

#plusIcon {
    padding-left: 5px;
    margin-left: 5px;
    font-weight: bold;
}

@media screen and (max-width: 580px) {
    #logo, #logo_link {
        display: none;
    }
}

@media screen and (max-width: 540px) {
#footer {
    flex-direction: column;
}
#footer_info {
    max-height: 25%;
}
.order_cat {
    display: none;
}
}


.btn-primary{
    background-color: #257a9f;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
