.user {
    background-color: aqua;
}

.navbar {
    background-color: darkslateblue;
}

#logo_search {
    background-color: lightgoldenrodyellow;
    padding-bottom: 0px;
}

#logo {
    max-height: 9%;
    max-width: 9%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}