{% extends 'base.html' %}
{% block content %}

<div class="dropdown sortedBy">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Raða eftir</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Verði</a>
    <a class="dropdown-item" href="#">Nafni</a>

  </div>
</div>

<span>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
{#            {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}#}
              <div class="card-body">
                <div class="productInfo">
{#                    <h6 class="card-text productInfo">Nafn</h6>#}
{#                   <h6 class="card-text productInfo">Verð</h6>#}
                    <h6 class="card-text productInfo">{{ product.name }}</h6>
                    <h6 class="card-text productInfo">{{ product.price }}kr</h6>
                </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary btn-order">Setja í körfu</button>
                    <a class="btn btn-primary btn-sm btn-outline-secondary btn-info" href="{% url 'product_info' %}" role="button">Upplýsingar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

      </div>
    </div>
  </div>
</span>
<span>
    <div class="container categories">
    <div class="row justify-content-start">

        <ul class="nav flex-column">

          <li class="nav-item">
              <hr id="lineBetween" style="width:100%;text-align:left;margin:0">
            <a class="nav-link" href="#">Tölvuleikir<i class="fas fa-plus" id="plusIcon"></i></a>
          </li>

          <li class="nav-item">
              <hr id="lineBetween" style="width:100%;text-align:left;margin:0">
            <a class="nav-link" href="#">Leikjatölvur<i class="fas fa-plus" id="plusIcon"></i></a>
          </li>

          <li class="nav-item">
              <hr id="lineBetween" style="width:100%;text-align:left;margin:0">
            <a class="nav-link" href="#">Aukahlutir<i class="fas fa-plus" id="plusIcon"></i></a>
          </li>
          <li class="nav-item">
              <hr id="lineBetween" style="width:100%;text-align:left;margin:0">
            <a class="nav-link" href="#">Varahlutir<i class="fas fa-plus" id="plusIcon"></i></a>
          </li>
        </ul>
    </div>
    </div>
</span>
{% endblock %}