{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
         <a class="btn btn-primary order_btn all_product_btn" href="{% url 'product_index' %}" role="button">Allar vörur</a>
    </div>
    <div class="col-sm-9">
        <div class="dropdown sortedBy">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Raða eftir</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" methods="GET" href="{% url 'product_index_price' %}">Verð</a>
            <a class="dropdown-item" methods="GET" href="{% url 'product_index_name' %}">Nafn</a>
        </div>
        </div>
    </div>
</div>

{% include 'product/main_body.html' %}

{% endblock %}