
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-3">

   <div class="card" style="width: 18rem;"> {#style="width: 18rem;">#}


           <img class="image-product card-img-top" src="{{ product.productimage_set.first.image }}">
       <div class="btn justify-content-between align-items-center">

            <a class="btn btn-info" href="#" role="button">Fyrri mynd</a>
            <a class="btn btn-info" href="#" role="button">Næsta mynd</a>
       </div>

    <div class="card-body">
        <h6 class="card-text productInfo">{{ product.name }}</h6>
        <h6 class="card-text productInfo">{{ product.price }}kr</h6>

    </div>

    </div>
   </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 align-self-end">
        <a class="btn btn-info info_btn" onclick="AddItem({{ product.id }})" role="button">Setja í körfu</a>
    </div>


    </div>
<div class="row">
    <div class="col-sm-12">
    <div class="card">
  <div class="card-header">
    <h5>Upplýsingar um vöru</h5>
  </div>
  <div class="card-body">
      <p class="card-text productInfo">{{ product.description }}</p>
  </div>
</div>
    </div>
        </div>

{% endblock %}