 <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-6 col-md">
        <h5>Hafa samband</h5>
        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-muted" href="#">Sími: 999-9999</a></li>
          <li><a class="text-muted" href="cc@captainconsole.is">Netfang:cc@captainconsole.is</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">

        <h5>Verslanir</h5>
        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-muted" href="#">Opnunartími: 10:00-19:00</a></li>
          <li><a class="text-muted" href="#">Staðsetning: Háskólinn í Reykjavík</a></li>

        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Þjónusta</h5>

        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-muted" href="#">Skilaréttur</a></li>
          <li><a class="text-muted" href="#">Ábyrgð</a></li>
          <li><a class="text-muted" href="#">Afhendingarmáti</a></li>

        </ul>
      </div>
         <div class="col-6 col-md footerInfo">
        <h5>Um okkur</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Sagan</a></li>
          <li><a class="text-muted" href="#">Okkar markmið</a></li>
          <li><a class="text-muted" href="#">Skilmálar</a></li>

        </ul>
      </div>
    </div>
 </footer>
