 <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row mx-auto" id="footer">

      <div class="col-6 col-md footer_info">
        <h4 class="text-footer border-bottom">Hafa samband</h4>
        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-footer" href="#">Sími: 999-9999</a></li>
          <li><a class="text-footer" href="mailto:cc@captainconsole.is">Netfang: cc@captainconsole.is</a></li>
        </ul>
      </div>
      <div class="col-6 col-md footer_info">

        <h4 class="text-footer border-bottom">Verslanir</h4>
        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-footer" href="#">Opnunartími: 10:00-19:00</a></li>
          <li><a class="text-footer" href="#">Staðsetning: Háskólinn í Reykjavík</a></li>

        </ul>
      </div>
      <div class="col-6 col-md footer_info">
        <h4 class="text-footer border-bottom">Þjónusta</h4>

        <ul class="list-unstyled text-small footerInfo">
          <li><a class="text-footer" href="#">Skilaréttur</a></li>
          <li><a class="text-footer" href="#">Ábyrgð</a></li>
          <li><a class="text-footer" href="#">Afhendingarmáti</a></li>

        </ul>
      </div>
         <div class="col-6 col-md footer_info">
        <h4 class="text-footer border-bottom">Um okkur</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-footer" href="#">Sagan</a></li>
          <li><a class="text-footer" href="#">Okkar markmið</a></li>
          <li><a class="text-footer" href="#">Skilmálar</a></li>

        </ul>
      </div>
    </div>
 </footer>
