{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" id="logo_search">

    <a href="{% url 'home_index' %}" id="logo_link">
        <img id="logo" src="{% static "images/cc_logo.png" %}" alt="Logo">
    </a>


    <form class="form-inline my-2 my-lg-0 text-center mx-auto" id="searchform">
        <input class="form-control-lg mr-sm-2" id="searchbar" type="search" placeholder="Ég er að leita að..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" id="searchbutton" type="submit">Leita</button>
    </form>




</nav>