{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" id="logo_search">
        <img id="logo" src="{% static "images/cc_logo.png" %}">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </ul>
    <form class="form-inline my-2 my-lg-0 text-center mx-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Ég er að leita að..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Leita</button>
    </form>



  </div>
</nav>