<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{% url 'home_index' %}">Captain Console</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'product_index' %}">Tölvuleikir <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'product_index' %}">Leikjatölvur <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'product_index' %}">Aukahlutir <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'product_index' %}">Varahlutir <span class="sr-only">(current)</span></a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'order_index' %}">Karfa <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'user_index' %}">Innskrá <span class="sr-only">(current)</span></a>
        </li>
    </ul>

  </div>
</nav>