<nav class="navbar fixed-top navbar-expand-md navbar-dark" >
    <div>
        <a class="navbar-brand" href="{% url 'home_index' %}">Captain Console</a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
            <a class="nav-link product" href="{% url 'product_games' %}">Tölvuleikir <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link product" href="{% url 'product_computer' %}">Leikjatölvur <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link product" href="{% url 'product_accessory' %}">Aukahlutir <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link product" href="{% url 'product_spareparts' %}">Varahlutir <span class="sr-only">(current)</span></a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
            <a class="nav-link right_nav" href="{% url 'order_index' %}">Karfa <span class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle right_nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Útskrá
            </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'logout' %}">Útskrá</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">Vefsvæði notanda</a>
                    <a class="dropdown-item" href="{% url 'search_history' %}">Leitarsaga</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle right_nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Þinn aðgangur
            </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'login' %}">Innskrá</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Nýskrá</a>
                </div>
            </li>
        {% endif %}

    </ul>
    </div>
</nav>