{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Vörur í körfu:</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Vörur</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Verð</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Fjöldi</div>
                  </th>
                  <th scope="col" class="border-0 bg-light end_of_table_box">
                    <div class="py-2 text-uppercase end_of_table">Fjarlægja</div>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{% static "images/mynd.png" %}" alt="Generic picture" class="img-fluid rounded shadow-sm gen_pic">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Nafn á vöru</a></h5><span class="text-muted font-weight-normal font-italic order_cat">Flokkar: Flokkur</span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>2500kr</strong></td>
                  <td class="border-0 align-middle">

                        <div class='order_count'>
                          <button class='down_count btn btn-secondary btn-sm' title='Down'><i class='fa fa-minus'></i></button>
                          <input class='counter' type="text" placeholder="value..." value='0' />
                          <button class='up_count btn btn-secondary btn-sm' title='Up'><i class='fa fa-plus'></i></button>
                        </div>

                  </td>
                  <td class="border-0 align-middle trash-can"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="{% static "images/mynd.png" %}" alt="Generic picture" class="img-fluid rounded shadow-sm gen_pic">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Nafn á vöru</a></h5><span class="text-muted font-weight-normal font-italic order_cat">Flokkar: Flokkur</span>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong>1990kr</strong></td>
                  <td class="align-middle">
                      <div class='order_count'>
                          <button class='down_count btn btn-secondary btn-sm' title='Down'><i class='fa fa-minus'></i></button>
                          <input class='counter' type="text" placeholder="value..." value='0' />
                          <button class='up_count btn btn-secondary btn-sm' title='Up'><i class='fa fa-plus'></i></button>
                        </div>
                  </td>
                  <td class="align-middle trash-can"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><h4>Heildarverð:</h4></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <a role="button" class="btn btn-primary btn-lg order_btn" href="{% url 'product_index' %}">Til baka</a>
                </div>
                <div class="col-sm-2">
                    <a role="button" class="btn btn-success btn-lg order_btn" href="#">Klára pöntun</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}