{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    <div class="row"><br>
        <div class="col-lg-12">
            <h1 class="order_title">Yfirlit yfir pöntun:</h1>
        </div>
    </div>
    <div class="row"><br>

        <div class="col-lg-5">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Vörur</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Verð</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Fjöldi</div>
                      </th>
                    </tr>
                </thead>
                <tbody class="order_products_overview">
                {% for product in products %}
                    {% include 'order/single_product.html' with product=product %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

      <div class="col-lg-3">
      <h4>Upplýsingar</h4><br>
        <form id="user_info" class="form form-horizontal" method="POST" action="{% url 'order_overview' %}">

            <input type="text" name="first_name" class="readonly_form" maxlength="30" id="id_first_name_view" readonly>

            <input type="text" name="last_name" class="readonly_form" maxlength="150" id="id_last_name_view" readonly>

            <input type="text" name="email"  class="readonly_form" maxlength="254" id="id_email_view" readonly>

            <input type="text" name="address" class="readonly_form" maxlength="999" required="" id="id_address_view" readonly>

            <input type="text" name="zip_code" class="readonly_form" required="" id="id_zip_code_view" readonly>

            <input type="text" name="country" class="readonly_form" required="" id="id_country_view" readonly>

        </form>

      </div>


      <div class="col-lg-4">
        <h4>Greiðsluupplýsingar</h4><br>
        <form id="card_info" class="form form-horizontal" method="POST" action="{% url 'order_overview' %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="kDXQgBArbCrZF8AOYHv8bLebKo3eYszvnMks3K8M02X7o1uxCeDwifHDFxyZlxFE">

            <input type="text" name="card_number" class="readonly_form" maxlength="19" required="" id="id_card_number_view" readonly>

            <input type="number" name="valid_month" class="readonly_form no_show_arrow" maxlength="2" required="" id="id_valid_month_view" readonly>

            <input type="number" name="valid_year" class="readonly_form no_show_arrow" maxlength="2" required="" id="id_valid_year_view" readonly>

            <input type="hidden" name="cvc" class="readonly_form" maxlength="3" required="" id="id_cvc_view" readonly>

        </form>
      </div>

    </div>

    <div class="row"><br>
        <div class="col-lg-3 text-center align-self-end">
            <input id="total_price_num_view" class="price_total" type="text" value="0" readonly/>
        </div>
        <div class="col-lg-5 text-center align-self-end"></div>
        <div class="col-lg-4 text-center align-self-end">
            <a class="btn btn-primary btn-lg order_btn" href="{% url 'order_payment' %}" role="button">Fyrra skref</a>
            <button id="order_confirmed" class="btn btn-success btn-lg order_btn" type="button"">Ljúka pöntun</button>
        </div>
    </div>
{% endblock %}