{% extends 'base.html' %}
{% block content %}


    <div class="row"><br>

      <div class="col-lg-4">
      <h4>Persónuupplýsingar</h4><br>
        <form class="form form-horizontal" method="#">
            <input type="hidden" name="csrfmiddlewaretoken" value="DjXvdLs0915fffrypmkTwZiNt6Q0o15uGsk70U0lYrBnY8lh3TshDtLfoflLL6bD">

            <label for="id_first_name">Fornafn:</label>
            <input type="text" name="first_name" class="form-control" maxlength="30" id="id_first_name">

            <label for="id_last_name">Eftirnafn:</label>
            <input type="text" name="last_name" class="form-control" maxlength="150" id="id_last_name">

            <label for="id_email">Netfang:</label>
            <input type="text" name="email"  class="form-control" maxlength="254" id="id_email">

            <label for="id_address">Heimilisfang:</label>
            <input type="text" name="address" class="form-control" maxlength="999" required="" id="id_address">

            <label for="id_zip_code">Póstnúmer:</label>
            <input type="text" name="zip_code" class="form-control" required="" id="id_zip_code">

            <label for="id_country">Land:</label>
            <input type="text" name="country" class="form-control" required="" id="id_country">

        </form>

      </div>


      <div class="col-lg-4">
        <h4>Greiðsluupplýsingar</h4><br>
        <form class="form form-horizontal" method="#">
            <input type="hidden" name="csrfmiddlewaretoken" value="kDXQgBArbCrZF8AOYHv8bLebKo3eYszvnMks3K8M02X7o1uxCeDwifHDFxyZlxFE">

            <label for="id_card_number">Kortanúmer:</label>
            <input type="text" name="card_number" class="form-control" maxlength="19" required="" id="id_card_number">

            <label for="id_valid_month">Mánuður:</label>
            <input type="number" name="valid_month" class="form-control" maxlength="2" required="" id="id_valid_month">

            <label for="id_valid_year">Ár:</label>
            <input type="number" name="valid_year" class="form-control" maxlength="2" required="" id="id_valid_year">

            <label for="id_cvc">cvc:</label>
            <input type="number" name="cvc" class="form-control" maxlength="3" required="" id="id_cvc">

        </form>
      </div>


      <div class="col-lg-4 text-center align-self-end">
          <a class="btn btn-primary btn-lg order_btn" href="{% url 'order_index' %}" role="button">Fyrra skref</a>
          <a class="btn btn-success btn-lg order_btn" href="#" role="button" onclick="saveUserInfo()">Næsta skref</a>

      </div>
    </div>


{% endblock %}