{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Leitarsaga</h1>
{#Ef bæta á við raða eftir takka í leitarsögu#}
    {#<div class="dropdown sortedBy">#}
{#    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#        Raða eftir</button>#}
{#  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#    <a class="dropdown-item" href="#">Verð</a>#}
{#    <a class="dropdown-item" href="#">Nafn</a>#}
{##}
{#  </div>#}
{#</div>#}
{##}
    <div class="album py-5 bg-light row">
        <div class="container">

            <div class="row product" id="product">
                {% for product in products %}
                    <div class="col-md-6">

                        {% include 'product/single_product.html' with product=product %}

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}