{% extends 'base.html' %}
{% block content %}
    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">

          <-- Hér þarf ég -->
        <img class="mb-3" src="" alt="" width="150" height="200" style="border-radius: 50px"><br>

        <button class="btn btn-sm btn-primary" type="submit">Breyta mynd</button><br> <br>
        <button class="btn btn-sm btn-primary" type="submit">Til baka</button>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h4>Persónuupplýsingar</h4>
        <p><a class="btn btn-secondary" href="#" role="button">Breyta upplýsingum</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h4>Greiðsluupplýsingar</h4>
        <p><a class="btn btn-secondary" href="#" role="button">Breyta upplýsingum</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


{% endblock %}